# Préparation des données

## Packages

In [32]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

## Importation

In [33]:
train = pd.read_csv("https://www.data.mclavier.com/prj_datascience/brut_train.csv")
train.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,Male,30,1,28,0,1-2 Year,Yes,26891,155,270,1
1,Male,28,1,28,1,< 1 Year,No,45434,152,146,0
2,Male,32,1,47,0,1-2 Year,No,2630,157,195,1
3,Male,54,1,28,0,1-2 Year,No,41420,26,121,0
4,Male,45,1,36,0,1-2 Year,Yes,32764,124,185,1

## Transformation

### Vehicle_Dammage

In [34]:
dict_cat = {'No' : 0, 'Yes' : 1}
new_damage = train.Vehicle_Damage.apply(lambda x : dict_cat[x])
train['Vehicle_Damage'] = new_damage

train.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,Male,30,1,28,0,1-2 Year,1,26891,155,270,1
1,Male,28,1,28,1,< 1 Year,0,45434,152,146,0
2,Male,32,1,47,0,1-2 Year,0,2630,157,195,1
3,Male,54,1,28,0,1-2 Year,0,41420,26,121,0
4,Male,45,1,36,0,1-2 Year,1,32764,124,185,1

### Gender

In [35]:
dict_cat = {'Male' : 0, 'Female' : 1}
new_gender = train.Gender.apply(lambda x : dict_cat[x])

train['Gender'] = new_gender
train.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,30,1,28,0,1-2 Year,1,26891,155,270,1
1,0,28,1,28,1,< 1 Year,0,45434,152,146,0
2,0,32,1,47,0,1-2 Year,0,2630,157,195,1
3,0,54,1,28,0,1-2 Year,0,41420,26,121,0
4,0,45,1,36,0,1-2 Year,1,32764,124,185,1

### Age

In [36]:
ohe = OneHotEncoder(sparse=False)
one_hot_VAge = ohe.fit_transform(np.asarray(train.Vehicle_Age).reshape(-1,1))

less_than_one = [one_hot_VAge[i][1] for i in range(len(one_hot_VAge))]
one_to_two = [one_hot_VAge[i][0] for i in range(len(one_hot_VAge))]
two_and_more = [one_hot_VAge[i][2] for i in range(len(one_hot_VAge))]

train['VAge1'] = less_than_one
train['VAge2'] = one_to_two
train['VAge3'] = two_and_more

train.drop(columns = 'Vehicle_Age', inplace = True)
train.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,VAge1,VAge2,VAge3
0,0,30,1,28,0,1,26891,155,270,1,0.0,1.0,0.0
1,0,28,1,28,1,0,45434,152,146,0,1.0,0.0,0.0
2,0,32,1,47,0,0,2630,157,195,1,0.0,1.0,0.0
3,0,54,1,28,0,0,41420,26,121,0,0.0,1.0,0.0
4,0,45,1,36,0,1,32764,124,185,1,0.0,1.0,0.0

### Policy_Sales_Channel

In [37]:
train.Policy_Sales_Channel.value_counts(sort=True).head(5)

152    21343
26     14557
124    13498
160     3513
156     1995
Name: Policy_Sales_Channel, dtype: int64

On constate au profiling, qu'il y a principelement 4 grandes catégorie.

In [39]:
dict_cat = {152 : 0, 26 : 1, 124 : 2}

def default_dict(x):
    if x in dict_cat:
        return dict_cat[x]
    else:
        return 3

new_damage = train.Policy_Sales_Channel.apply(lambda x : default_dict(x))
train['Policy_Sales_Channel'] = new_damage

train.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,VAge1,VAge2,VAge3
0,0,30,1,28,0,1,26891,3,270,1,0.0,1.0,0.0
1,0,28,1,28,1,0,45434,0,146,0,1.0,0.0,0.0
2,0,32,1,47,0,0,2630,3,195,1,0.0,1.0,0.0
3,0,54,1,28,0,0,41420,1,121,0,0.0,1.0,0.0
4,0,45,1,36,0,1,32764,2,185,1,0.0,1.0,0.0

In [40]:
train.Policy_Sales_Channel.value_counts(sort=True).head(5)

0    21343
3    16243
1    14557
2    13498
Name: Policy_Sales_Channel, dtype: int64

In [43]:
train

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,VAge1,VAge2,VAge3
0,0,30,1,28,0,1,26891,3,270,1,0.0,1.0,0.0
1,0,28,1,28,1,0,45434,0,146,0,1.0,0.0,0.0
2,0,32,1,47,0,0,2630,3,195,1,0.0,1.0,0.0
3,0,54,1,28,0,0,41420,1,121,0,0.0,1.0,0.0
4,0,45,1,36,0,1,32764,2,185,1,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65636,0,22,1,8,1,0,34240,0,240,0,1.0,0.0,0.0
65637,1,66,1,8,1,0,35636,1,119,0,0.0,1.0,0.0
65638,0,28,1,6,0,1,56519,3,226,0,1.0,0.0,0.0
65639,1,44,1,28,0,0,41622,3,152,0,0.0,1.0,0.0
65640,1,42,1,46,0,0,18698,1,257,0,0.0,1.0,0.0

In [46]:
ohe = OneHotEncoder(sparse=False)
one_hot_VPolicy = ohe.fit_transform(np.asarray(train.Policy_Sales_Channel).reshape(-1,1))


train['VPolicy0'] = [one_hot_VPolicy[i][0] for i in range(len(one_hot_VPolicy))]
train['VPolicy1'] = [one_hot_VPolicy[i][1] for i in range(len(one_hot_VPolicy))]
train['VPolicy2'] = [one_hot_VPolicy[i][2] for i in range(len(one_hot_VPolicy))]
train['VPolicy3'] = [one_hot_VPolicy[i][3] for i in range(len(one_hot_VPolicy))]

train.drop(columns = 'Policy_Sales_Channel', inplace = True)
train.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Damage,Annual_Premium,Vintage,Response,VAge1,VAge2,VAge3,VPolicy0,VPolicy1,VPolicy2,VPolicy3
0,0,30,1,28,0,1,26891,270,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0,28,1,28,1,0,45434,146,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0,32,1,47,0,0,2630,195,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0,54,1,28,0,0,41420,121,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0,45,1,36,0,1,32764,185,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0

## Export

On déplace la variable target en fin de dataframe.

In [53]:
Response = train.Response
train.drop('Response', axis = 1, inplace = True)
train['Response'] = Response

Exportation des données

In [55]:
train.to_csv('train_log.csv', index = False)

## Package data

Les fonctions de préparation des données présentées ci-dessous ont été regroupées dans un fichier data.py afin de permettre l'obtention rapide, et au bon format, des données pour tester différents modèles.